body {
  background-color: #e6e6fa;
  text-align: center;
  font-family: "Inter", sans-serif;
}
h1 {
  color: #4b0082;
  margin-top: 40px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.lista-de-treino {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.botao {
  background-color: #d8bfd8;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.botao:hover {
  background-color: #4b0082;
}
.informacoes {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
